export DEBUG=1
export STRIPE_API_KEY=sk_test_987654321
export STRIPE_PUBLISHABLE_KEY=pk_test_987654321
export STRIPE_WEBHOOK_SECRET=wh_sec_abcdefghijklmnopqrstuvwxyz
export STRIPE_DEFAULT_PRICE_ID=price_987654321
