<ul>
  <li><b>Unlimited</b> event allocation. Pay only for what you use.</li>
  <li><b>Unlimited</b> tracked users</li>
  <li><b>Unlimited</b> team members</li>
  <li><b>Unlimited</b> projects</li>
  <li>
    <b>7 years</b> of data retention
    <span class="disclaimer">
      <a href="#starter-disclaimer-1">1</a>
    </span>
  </li>
  <li>
    <b>All core analytics features</b>
  </li>
  <li>Correlation analysis & advanced paths</li>
  <li>
    Recordings with unlimited storage
    <span class="disclaimer">
      <a href="#starter-disclaimer-2">2</a>
    </span>
  </li>
  <li>Feature flags</li>
  <li>Plugins &amp; other integrations</li>
  <li>Zapier integration</li>
  <li>Google SSO</li>
  <li>Export to data lakes</li>
  <li>Community, Slack &amp; Email support</li>
</ul>
<div class="disclaimer-details">
  <div id="starter-disclaimer-1">
    1. Data may be moved to cold storage after 12 months. Queries that involve
    data in cold storage can take longer than normal to run.
  </div>
  <div id="starter-disclaimer-2">
    2. While there is no restriction on session recording storage, session
    recording information is captured and stored as normal events and therefore
    billed as such.
  </div>
</div>
