{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm text-center">
      <span style="font-size: 100px">😢</span>
      <h1>Oops, we couldn't start your billing subscription</h1>
      <h4>
        Please try with a different payment method so you can continue capturing
      </h4>
      <h4>events and gaining insights into the behavior of your users!</h4>
      <button
        class="btn btn-lg btn-primary"
        style="margin-top: 32px"
        id="btnContinue"
      >
        Try again
      </button>
      <div style="margin-top: 16px">
        <a href="/organization/billing" style="color: rgba(0, 0, 0, 0.65)">Do it later</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    const getParameterByName = (name) => {
      const url = window.location.href;
      name = name.replace(/[\[\]]/g, "\\$&");
      const regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return "";
      return decodeURIComponent(results[2].replace(/\+/g, " "));
    };

    const session_id = getParameterByName("session_id");
    console.log(session_id);

    if (!session_id)
      document.getElementById("btnContinue").style.display = "none";

    document
      .getElementById("btnContinue")
      .addEventListener("click", function () {
        if (!session_id) window.location.href = "/";
        window.location.href = `/billing/setup?session_id=${session_id}`;
      });
  });
</script>
{% endblock %}
