{% extends 'layout.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm text-center">
      <span
        ><img
          alt=""
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iI0Y5QkQyQiIgd2lkdGg9IjE0MHB4IiBoZWlnaHQ9IjE0MHB4Ij4KICAgICAgICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiIC8+CiAgICAgICAgICA8cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptLTIgMTVsLTUtNSAxLjQxLTEuNDFMMTAgMTQuMTdsNy41OS03LjU5TDE5IDhsLTkgOXoiLz4KPC9zdmc+"
      /></span>
      <h1>Welcome to the PostHog <b>Growth Plan</b>!</h1>
      <h3>
        You can now capture up to <b>500,000 events / month</b> to get better
        insights into your users.
      </h3>
      <a class="btn btn-lg btn-primary" style="margin-top: 32px;" href="/">
        Continue to PostHog
      </a>
    </div>
  </div>
</div>
{% endblock %}
