{% extends 'layout.html' %}

{% block content %}
    <form class="form-signin" method="post" action="/signup" style="max-width: 1024px">
        {% csrf_token %}
        <div class="row">
            <div class='col-6' style="padding-left: 30px; padding-right: 60px;">
                <h1 class="h3 mb-3 font-weight-normal">Get Started for Free</h1>
                <h4>You will have access to all features immediately such as:</h4>
                <ul class="list-group">
                    <li class="list-group-item">Trend Visualizations</li>
                    <li class="list-group-item">User Funnels</li>
                    <li class="list-group-item">Cohort Analysis</li>
                </ul>
                <br></br>
                <p>By signing up, you will be started on the the trial growth plan which provides you 500,000 events/month, 12 months of data history, and community support. </p>
            </div>
            <div class='col-6' style="border-left: 1px solid rgba(0, 0, 0, 0.1);padding-right: 30px">
                <h1 class="h3 mb-3 font-weight-normal">Create account</h1>
                {% if error %}
                <p class="text-danger">That account already exists. <a href='/login'>Try logging in?</a>.</p>
                {% endif %}
                <div class='form-signin-inputs'>
                    <div class='field'>
                        <input type="name" name='company_name' id="inputCompany" value="{{ company_name }}" placeholder="" required autofocus>
                        <label for="inputCompany" >Company name</label>
                    </div>
                    <div class='field'>
                        <input type="name" name='name' id="inputName" placeholder="" value="{{ name }}" required>
                        <label for="inputName" >Name</label>
                    </div>
                    <div class='field'>
                        <input type="email" name='email' id="inputEmail" value="{{ email }}" placeholder="" required>
                        <label for="inputEmail">Email address</label>
                    </div>
                    <div class='field'>
                        <input type="password" name='password' id="inputPassword" placeholder="" required>
                        <label for="inputPassword">Password</label>
                    </div>
                </div>
                <p>Already have an account? <a href='/login'>Log in here.</a></p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Get Started</button>
            </div>
        </div>
    </form>
{% endblock %}